<launch>
    <!-- Map information -->
    <arg name="map_file" default="$(find odom-lidar-pf)/maps/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher1" args="0 0 0 0 0 0 odom map"/>

    <arg name="model" default="burger"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="a_pos" default="0.0"/>

    <!-- Launch turtlebot3 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find odom-lidar-pf)/world/turtlebot.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="true"/>
        <arg name="debug" value="false"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model)_cam.urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg a_pos) -param robot_description" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0"/>
        <param name="tf_prefix" value=""/>
        <param name="use_tf_static" value="false"/>
    </node>

    <!--Particle Filter Python node  -->
    <!-- <node pkg="odom-lidar-pf" name="mcl_python" type="mcl_python.py" output="screen"/> -->

    <!--Particle Filter C++ node  -->
    <!-- <node pkg="odom-lidar-pf" name="mcl_cpp" type="mcl_cpp" output="screen"/> -->
    
    <!-- RVIZ -->
    <node name="rviz_start" type="rviz" pkg="rviz" args="-d $(find odom-lidar-pf)/config/turtlebot.rviz"/>
    
</launch>
